.filter_companies {
  height: 177px;
  width: 232px;

}


.example-radio-button {

  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
