<mat-button-toggle-group name="sorting" aria-label="sort">
  <mat-button-toggle class="btn_clicked" value="cheap">самый дешевый</mat-button-toggle>
  <mat-button-toggle class="btn" value="quick">самый быстрый</mat-button-toggle>
  <mat-button-toggle class="btn" value="best">оптимальный</mat-button-toggle>
</mat-button-toggle-group>
<mat-card class="tickets-card"  *ngFor="let ticket of filteredTickets">
  <mat-card-header class ="tickets-card_header">
    <mat-card-title style="font-size: 24px;line-height: 24px;font-weight: 600; color:#2196F3"> {{ticket.price}}</mat-card-title>
    <img mat-card-image style="width:110px;height: 36px" src="{{getLogo(ticket.companyId)}}" alt="logo">
  </mat-card-header>


<!--<mat-card-content *ngFor="let segment of segments">
  <mat-card-title>{{segment.origin}}-{{segment.destination}}</mat-card-title>
  <mat-card-subtitle>{{segment.dateStart}} - {{segment.dateEnd}} </mat-card-subtitle>
  <mat-card-title>в пути</mat-card-title>
  <mat-card-subtitle>{{segment.duration}}</mat-card-subtitle>
  <mat-card-title>{{segment.stops.length}} пересадки</mat-card-title>
  <mat-card-subtitle>{{segment.stops}}</mat-card-subtitle>
</mat-card-content>-->

<!--<div *ngIf="arrStops1.length > 0">
  1 пересадка
  {{}}
</div>-->






 </mat-card>
<mat-card-actions >

  <button class="btn_paginator" (click)="displayCards($event)">Показать еще 5 билетов!</button>

</mat-card-actions>
